{% extends "Template.html" %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

{% block content  %}
<form method="post">
{% csrf_token %}
{{form.as_p}}
<button type="submit">Submit</button>
</form>




    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Stock name</th>
                    <th>Amount held</th>
                    <th>Average cost</th>
                </tr>
            </thead>
            <tbody>
                {% for asset in Assets %}
                <tr>
                    <td>{{ asset.Stockname }}</td>
                    <td>{{ asset.Amountheld }}</td>
                    <td>{{ asset.Averagecost }}</td>

                </tr>




            </tbody>


        </table>
    </div>
{% endfor %}

{% endblock  %}
